/data/extracted_go_data.json
/data/extracted_java_data.json
/data/extracted_python_data.json

/Graphs/Visualization/global_python_variable_dependency_graph.png
/Graphs/Visualization/global_java_variable_dependency_graph.png
/Graphs/Visualization/global_go_variable_dependency_graph.png